<div class="center hero-unit">
  <h1>Welcome to SWorD</h1>

  <h2>
    Sign up or login to start using SWorD.
  </h2>
  <p>
    <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
    <% #link_to "Login", login_path, class: "btn btn-large btn-primary" %>
  </p>

</div>
